// Example SCSS styles
$primary-color: #3490dc;

body {
  font-family: 'Arial', sans-serif;
  background-color: $primary-color;
}

.custom-class {
  padding: 1rem;
  border-radius: 5px;
  background: white;
  color: $primary-color;
}



// WP FSE Related
.is-style-fuller {
  height: calc( 100vh - 200px );
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px; /* Makes the image rounded */
  border: 5px solid #fc0;
}
.is-style-fuller img {
  object-fit: cover;
}